.Paper {
  padding: 30px 0 30px 0;
  margin-top: 15%;

  p,
  h2 {
    text-align: center;
    color: #003153;
  }

  form {
    padding-top: 30px;
    width: 100%;
    padding-left: 50%;

    .textField {
      width: 85%;
      margin-left: 5%;
    }

    .button-success {
      margin: 20px 5% 20px 5%;
      color: white;
      background: #003153;
      width: 85%;
      border-radius: 0;
      font-family: "Quantico", sans-serif;
      font-weight: bold;
      padding: 10px 0 10px 0;
    }

    .button-success:hover {
      background-color: black;
    }

    .form-errors {
      float: left;
      color: #ce8c64;
      text-align: left;
      font-size: 13px;
      padding-left: 27px;
      margin-top: -10px;
    }
  }

  #link {
    text-decoration: none;
  }

  @media (max-width: 1199px) {
    .button-collective {
      border-right: 0;
      margin: 10px 0 5px -10px;
    }

    form .textField {
      width: 70%;
      margin: 0;
    }

    #login-form form {
      padding: 0 40px;
    }

    #username,
    #password {
      width: 100% !important;
      padding: 15px 10px;
    }

    form .button-success {
      width: 70%;
      margin: 15px 0 !important;
    }
  }

  @media (max-width: 959px) {
    form .textField {
      width: 100%;
      margin: 0;
    }
    #login-form {
      width: 81%;
    }
    #login-form form {
      padding: 0 40px;
    }
    #email,
    #password {
      width: 100% !important;
      padding: 15px 10px;
    }
    form .button-success {
      width: 100%;
      margin: 15px 0 !important;
    }
  }

  @media (max-width: 768px) {
    #registerForm {
      width: 85% !important;
      margin-left: 70px !important;
    }
    form {
      .textField {
        width: 93% !important;
      }
    }
    .button-success {
      width: 93% !important;
    }
  }
}

@media (max-width: 768px) {
  #registerForm {
    width: 85% !important;
    margin-left: 70px !important;
  }
  form {
    .textField {
      width: 93% !important;
    }
  }
}

@media (max-width: 360px) {
  #registerForm {
    width: 100% !important;
    margin-left: 30px !important;
  }
  form {
    .textField {
      width: 150% !important;
    }
  }
  .button-success {
    width: 150% !important;
  }
}

@media (max-width: 414px) {
  #registerForm {
    width: 100% !important;
    margin-left: 30px !important;
  }
  form {
    .textField {
      width: 150% !important;
    }
  }
  .button-success {
    width: 150% !important;
  }
}
@media (max-width: 378px) {
  .button-collective {
    border-right: 0px;
    margin-right: -100px;
  }
}
